footer.footer

    .footer__top

        .footer__top-wrapper

            .footer__head

                a(href="/index.html").logo.footer__logo

                    img(src="/images/logo.png" width="100%")

                a(href="tel:211521").footer__phone-number 21-15-21

                a(href="mailTo:vpekar32@gmail.com").footer__email vpekar32@gmail.com

            nav.footer__nav

                ul.footer-menu.footer-menu_level-0

                    li.footer-menu__item.footer-menu__item_level-0

                        a(href="#").footer-menu__link.footer-menu__link_level-0 Каталог товаров

                        ul.footer-menu.footer-menu_level-1

                            li.footer-menu__item.footer-menu__item_level-1

                                a(href="#").footer-menu__link.footer-menu__link_level-1 Пироги

                            li.footer-menu__item.footer-menu__item_level-1

                                a(href="#").footer-menu__link.footer-menu__link_level-1 Торты и пирожные

                            li.footer-menu__item.footer-menu__item_level-1

                                a(href="#").footer-menu__link.footer-menu__link_level-1 Кондитерские ателье

                ul.footer-menu.footer-menu_level-0

                    li.footer-menu__item.footer-menu__item_level-0

                        a(href="#").footer-menu__link.footer-menu__link_level-0 Компания

                        ul.footer-menu.footer-menu_level-1

                            li.footer-menu__item.footer-menu__item_level-1

                                a(href="#").footer-menu__link.footer-menu__link_level-1 О компании

                            li.footer-menu__item.footer-menu__item_level-1

                                a(href="/news.html").footer-menu__link.footer-menu__link_level-1 Новости

                            li.footer-menu__item.footer-menu__item_level-1

                                a(href="#").footer-menu__link.footer-menu__link_level-1 Акции

                            li.footer-menu__item.footer-menu__item_level-1

                                a(href="/contacts.html").footer-menu__link.footer-menu__link_level-1 Контакты

                ul.footer-menu.footer-menu_level-0

                    li.footer-menu__item.footer-menu__item_level-0

                        a(href="#").footer-menu__link.footer-menu__link_level-0 Информация

                        ul.footer-menu.footer-menu_level-1

                            li.footer-menu__item.footer-menu__item_level-1

                                a(href="#").footer-menu__link.footer-menu__link_level-1 Оплата товара

                            li.footer-menu__item.footer-menu__item_level-1

                                a(href="#").footer-menu__link.footer-menu__link_level-1 Политика конфиденциальности

                            li.footer-menu__item.footer-menu__item_level-1

                                a(href="#").footer-menu__link.footer-menu__link_level-1 Кондитерские ателье

    .footer__bottom

        .footer__bottom-wrapper

            .footer__row

                .footer__social

                    a(href="#").footer__social-link.footer__social-link_vk.waves-effect

                        i.fa.fa-vk(aria-hidden="true")

                    a(href="#").footer__social-link.footer__social-link_vk.waves-effect

                        i.fa.fa-vk(aria-hidden="true")

                    a(href="#").footer__social-link.footer__socail-link_inst.waves-effect

                        i.fa.fa-instagram(aria-hidden="true")

                    a(href="#").footer__social-link.footer__social-link_fb.waves-effect

                        i.fa.fa-facebook(aria-hidden="true")     

                ul.footer__acquiring

                    li.footer__acquiring-item

                        i.fa.fa-cc-mastercard.footer__acquiring-icon(aria-hidden="true")

                    li.footer__acquiring-item

                        i.fa.fa-cc-visa.footer__acquiring-icon(aria-hidden="true")

            .footer__row

                .footer__copyrite © 2019 ООО «АрхКондитер». Все права защищены

                a(href="https://vk.com/m_arsentev" target="_blank").footer__privacy  design J-SOFT	

