header.header

    .header__top

        a(href="#").header__logo

            img(src="/images/logo.png" width="100%")

        .header-toolbar

            form.header-search

                input(type="text" placeholder="Искать")#t.header-search__input

                label.header-search__label(for="t")

                    i.material-icons-round.header-search__search-icon.md-search

                //-i.material-icons-round.header-search__close close

            .header-toolbar__bottom

                .header-toolbar__phone-number +7 (495) 123-456-78-90

                .header-toolbar__wrapper

                    .header-toolbar__person

                        i.material-icons-outlined.header-toolbar__person-icon.md-person_outline

                        .header-toolbar__person-text Войти

                    .header-toolbar__favorite

                        i.material-icons-outlined.md-favorite_border.header-toolbar__favorite-icon

                        .header-toolbar__favorite-text Избранное

                    .header-toolbar__cart

                        i.material-icons-outlined.md-shopping_cart.header-toolbar__cart-icon

                        .header-toolbar__cart-text Корзина

    nav.header-nav

        .header-nav__wrapper

            .header-nav__top

                .menu.menu_level_0

                    .menu__item.menu__item_level_0

                        a(href="#").menu__link.menu__link_level_0 О компании

                    .menu__item.menu__item_level_0

                        a(href="#").menu__link.menu__link_level_0 Оплата

                    .menu__item.menu__item_level_0

                        a(href="#").menu__link.menu__link_level_0 Акции

                    .menu__item.menu__item_level_0

                        a(href="#").menu__link.menu__link_level_0 Контакты

                    .menu__item.menu__item_level_0

                        a(href="#").menu__link.menu__link_level_0 Детские мастер классы



                

                

    
    
    
    
    


