header.header

    .header__top

        a(href="#").header__logo

            img(src="/images/logo.png" width="100%")

        .header-toolbar

            form.header-search

                input(type="text" placeholder="Искать")#t.header-search__input

                label.header-search__label(for="t")

                    i.material-icons-round.header-search__search-icon.md-search

                //-i.material-icons-round.header-search__close close

            .header-toolbar__bottom

                .header-toolbar__phone-number +7 (495) 123-456-78-90

                .header-toolbar__wrapper

                    .header-toolbar__person

                        i.material-icons-outlined.header-toolbar__person-icon.md-person_outline

                        .header-toolbar__person-text Войти

                    .header-toolbar__favorite

                        i.material-icons-outlined.md-favorite_border.header-toolbar__favorite-icon

                        .header-toolbar__favorite-text Избранное

                    .header-toolbar__cart

                        i.material-icons-outlined.md-shopping_cart.header-toolbar__cart-icon

                        .header-toolbar__cart-text Корзина

    nav.header-nav

            ul.menu.menu_level-0

                li.menu__item.menu__item_level-0

                    a(href="#").menu__link.menu__link_level-0 Каталог

                    ul.menu.menu_level-1

                        li.menu__item.menu__item_level-1

                            a(href="#").menu__link.menu__link_level-1 Кондитерские изделия

                            ul.menu.menu_level-2

                                li.menu__item.menu__item_level-2

                                    a(href="#").menu__link.menu__link_level-2 Десерты

                                li.menu__item.menu__item_level-2

                                    a(href="#").menu__link.menu__link_level-2 Конфеты

                        li.menu__item.menu__item_level-1

                            a(href="#").menu__link.menu__link_level-1 Пекарня

                            ul.menu.menu_level-2

                                li.menu__item.menu__item_level-2

                                    a(href="#").menu__link.menu__link_level-2 Выпечка

                                li.menu__item.menu__item_level-2

                                    a(href="#").menu__link.menu__link_level-2 Пироги

                        li.menu__item.menu__item_level-1

                            a(href="#").menu__link.menu__link_level-1 Кухня

                            ul.menu.menu_level-2

                                li.menu__item.menu__item_level-2

                                    a(href="#").menu__link.menu__link_level-2 Блюда по меню

                                li.menu__item.menu__item_level-2

                                    a(href="#").menu__link.menu__link_level-2 Кулинария

                        li.menu__item.menu__item_level-1

                            a(href="#").menu__link.menu__link_level-1 Упаковка / декор

                li.menu__item.menu__item_level-0

                    a(href="#").menu__link.menu__link_level-0 О компании

                li.menu__item.menu__item_level-0

                    a(href="#").menu__link.menu__link_level-0 Оплата

                li.menu__item.menu__item_level-0

                    a(href="#").menu__link.menu__link_level-0 Акции

                li.menu__item.menu__item_level-0

                    a(href="#").menu__link.menu__link_level-0 Контакты

                li.menu__item.menu__item_level-0

                    a(href="#").menu__link.menu__link_level-0 Детские мастер классы

            ul.header-category

                .header-category__overlay

                    .header-category__wrapper

                        - for (let x = 0; x < 12; x++)

                            li.header-category__card

                                a(href="#").header-category__link

                                    .header-category__title Кондитерские изделия

                                    .header-category__image