header.header

    nav.header-nav

        .header-nav__wrapper

            .header-nav__top

                .menu.menu_level_0

                    .menu__item.menu__item_level_0

                        .menu__link.menu__link_level_0.waves-effect.waves-light О компании

                    .menu__item.menu__item_level_0

                        .menu__link.menu__link_level_0.waves-effect.waves-light Оплата

                    .menu__item.menu__item_level_0

                        .menu__link.menu__link_level_0.waves-effect.waves-light Акции

                    .menu__item.menu__item_level_0

                        .menu__link.menu__link_level_0.waves-effect.waves-light Контакты

                    .menu__item.menu__item_level_0

                        .menu__link.menu__link_level_0.waves-effect.waves-light Детские мастер классы

            .header-nav__bottom

                a.logo(href="#")

                    img(src)

                form.header-nav-search

                    label.header-nav-search__label

                    input(type="search").header-nav-search__input

                .header-nav__phone-number 21-15-21

                .header-nav__cart

                    .header-nav__cart-icon

                    .header-nav__cart-value



                

                

    
    
    
    
    


