header.header

    .header__top

        a(href="/index.html").header__logo

            img(src="/images/logo.png" width="100%").header__logo-image

        .header-toolbar
          
            .header-toolbar__bottom

                .header-toolbar__top

                    a(href="tel:88182211521").header-toolbar__phone-number 8 (8182) 21-15-21

                    .header-toolbar__log-in(data-target="modal-logIn" class="modal-trigger") Войти

                form.header-search

                    input(type="text" placeholder="Искать")#search-input.header-search__input

                    label.header-search__label(for="search-input")

                        i.material-icons-round.header-search__search-icon.md-search

                    //-i.material-icons-round.header-search__close close

                .header-toolbar__wrapper

                    .header-toolbar__burger

                        .header-toolbar__burger-wrap

                            .header-toolbar__burger-wrapper

                                .header-toolbar__burger-line

                    .header-toolbar__link.header-toolbar__link_search

                        input.header-toolbar__search-input

                        i.material-icons-round.md-search.header-toolbar__link-icon

                        i.material-icons-round.md-close.header-toolbar__link-search-reset

                    .header-toolbar__link.header-toolbar__link_person(data-target="modal-logIn" class="modal-trigger")

                        i.material-icons-outlined.md-person_outline.header-toolbar__link-icon

                        .header-toolbar__link-text Войти

                    a(href="/favorite.html").header-toolbar__link.header-toolbar__link_favorite

                        i.material-icons-outlined.md-favorite_border.header-toolbar__link-icon

                            span.header-toolbar__link-count 12

                        .header-toolbar__link-text Избранное

                    a(href="/cart.html").header-toolbar__link.header-toolbar__link_cart

                        i.material-icons-outlined.md-shopping_cart.header-toolbar__link-icon
                            .header-toolbar__link-count 3

                        .header-toolbar__link-text Корзина

            .header-toolbar__search-wrap
                ul.menu.menu_level-0.menu_catalog

                    li.menu__item.menu__item_level-0

                        a(href="/catalog.html").menu__link.menu__link_level-0 Каталог

                            .header-toolbar__burger

                                .header-toolbar__burger-wrap

                                    .header-toolbar__burger-wrapper

                                        .header-toolbar__burger-line

                                i.material-icons-round.md-keyboard_arrow_down.header-toolbar__burger-arrow
                                    
                        ul.menu.menu_level-1

                            .menu__wrapper

                                li.menu__item.menu__item_level-1

                                    a(href="#").menu__link.menu__link_level-1 Кондитерские изделия

                                    ul.menu.menu_level-2

                                        li.menu__item.menu__item_level-2

                                            a(href="#").menu__link.menu__link_level-2 Десерты

                                        li.menu__item.menu__item_level-2

                                            a(href="#").menu__link.menu__link_level-2 Конфеты

                                li.menu__item.menu__item_level-1

                                    a(href="#").menu__link.menu__link_level-1 Пекарня

                                    ul.menu.menu_level-2

                                        li.menu__item.menu__item_level-2

                                            a(href="#").menu__link.menu__link_level-2 Выпечка

                                        li.menu__item.menu__item_level-2

                                            a(href="#").menu__link.menu__link_level-2 Пироги

                                li.menu__item.menu__item_level-1

                                    a(href="#").menu__link.menu__link_level-1 Кухня

                                    ul.menu.menu_level-2

                                        li.menu__item.menu__item_level-2

                                            a(href="#").menu__link.menu__link_level-2 Блюда по меню

                                        li.menu__item.menu__item_level-2

                                            a(href="#").menu__link.menu__link_level-2 Кулинария

                                li.menu__item.menu__item_level-1

                                    a(href="#").menu__link.menu__link_level-1 Упаковка / декор
               
                ul.menu.menu_level-0
                    li.menu__item.menu__item_level-0

                        a(href="/news.html").menu__link.menu__link_level-0 Новости

                    li.menu__item.menu__item_level-0

                        a(href="/contacts.html").menu__link.menu__link_level-0 Контакты

                    li.menu__item.menu__item_level-0

                        a(href="#").menu__link.menu__link_level-0 Детские мастер классы

    nav.header-nav

        ul.mobile-menu.mobile-menu_level-0

            li.mobile-menu__item.mobile-menu__item_level-0

                a(href="/catalog.html").mobile-menu__link.mobile-menu__link_level-0 Каталог

                ul.mobile-menu.mobile-menu_level-1

                    li.mobile-menu__item.mobile-menu__item_level-1

                        a(href="#").mobile-menu__link.mobile-menu__link_level-1 Кондитерские изделия

                        ul.mobile-menu.mobile-menu_level-2

                            li.mobile-menu__item.mobile-menu__item_level-2

                                a(href="#").mobile-menu__link.mobile-menu__link_level-2 Десерты

                            li.mobile-menu__item.mobile-menu__item_level-2

                                a(href="#").mobile-menu__link.mobile-menu__link_level-2 Конфеты

                    li.mobile-menu__item.mobile-menu__item_level-1

                        a(href="#").mobile-menu__link.mobile-menu__link_level-1 Пекарня

                        ul.mobile-menu.mobile-menu_level-2

                            li.mobile-menu__item.mobile-menu__item_level-2

                                a(href="#").mobile-menu__link.mobile-menu__link_level-2 Выпечка

                            li.mobile-menu__item.mobile-menu__item_level-2

                                a(href="#").mobile-menu__link.mobile-menu__link_level-2 Пироги

                    li.mobile-menu__item.mobile-menu__item_level-1

                        a(href="#").mobile-menu__link.mobile-menu__link_level-1 Кухня

                        ul.mobile-menu.mobile-menu_level-2

                            li.mobile-menu__item.mobile-menu__item_level-2

                                a(href="#").mobile-menu__link.mobile-menu__link_level-2 Блюда по меню

                            li.mobile-menu__item.mobile-menu__item_level-2

                                a(href="#").mobile-menu__link.mobile-menu__link_level-2 Кулинария

                    li.mobile-menu__item.mobile-menu__item_level-1

                        a(href="#").mobile-menu__link.mobile-menu__link_level-1 Упаковка / декор

            li.mobile-menu__item.mobile-menu__item_level-0

                a(href="#").mobile-menu__link.mobile-menu__link_level-0 О компании

            li.mobile-menu__item.mobile-menu__item_level-0

                a(href="#").mobile-menu__link.mobile-menu__link_level-0 Оплата

            li.mobile-menu__item.mobile-menu__item_level-0

                a(href="#").mobile-menu__link.mobile-menu__link_level-0 Акции

            li.mobile-menu__item.mobile-menu__item_level-0

                a(href="/contacts.html").mobile-menu__link.mobile-menu__link_level-0 Контакты

            li.mobile-menu__item.mobile-menu__item_level-0

                a(href="#").mobile-menu__link.mobile-menu__link_level-0 Детские мастер классы

        .mobile-menu-closer

            i.material-icons-round.md-close.mobile-menu-closer__icon
