extends layout.pug

block layoutPage

    include header.pug

    main.main

        .header-category

            .header-category__overlay

                ul.header-category__wrapper

                    li.header-category__card

                        a(href="/catalog.html").header-category__link

                            .header-category__title Десерты

                            .header-category__image(style="background-image: url(https://www.zastavki.com/pictures/originals/2017Food___Cakes_and_Sweet_Cake_with_cream_and_cherry_on_a_white_background_120444_.jpg)")

                    li.header-category__card

                        a(href="/catalog.html").header-category__link

                            .header-category__title Конфеты

                            .header-category__image(style="background-image: url(https://www.zastavki.com/pictures/originals/2017Food___Cakes_and_Sweet_Appetizing_assorted_chocolates_on_white_background_118866_.jpg)")

                    li.header-category__card

                        a(href="/catalog.html").header-category__link

                            .header-category__title Выпечка

                            .header-category__image(style="background-image: url(https://i.pinimg.com/originals/da/be/59/dabe595a9e3e312d36b565cb070f189f.jpg)")

                    li.header-category__card

                        a(href="/catalog.html").header-category__link

                            .header-category__title Пироги

                            .header-category__image(style="background-image: url(https://avatars.mds.yandex.net/get-pdb/1945878/c0c806cc-9b19-4b93-9113-bf63dcbf2dfa/s1200)")

                    li.header-category__card

                        a(href="/catalog.html").header-category__link

                            .header-category__title Блюда по меню

                            .header-category__image(style="background-image: url(https://avatars.mds.yandex.net/get-pdb/33827/a8cfd723-9100-4342-ace2-1ae5a9befc11/s1200?webp=false)")

                    li.header-category__card

                        a(href="/catalog.html").header-category__link

                            .header-category__title Кулинария

                            .header-category__image(style="background-image: url(https://s1.1zoom.ru/b5050/977/332620-svetik_1920x1200.jpg)")

                    li.header-category__card

                        a(href="/catalog.html").header-category__link

                            .header-category__title Упаковка/декор

                            .header-category__image(style="background-image: url(https://news.unipack.ru/light_editor_img/images/2015-8-17/file1439546946.jpg)")

        block content

    include footer.pug
