extends layout.pug

block layoutPage

    include header.pug

    main.main

        .main__wrapper

            .page

                a(href="#").main__back
                    i.material-icons-round.md-arrow_back_ios.main__back-icon

            .path

                ul.path__wrapper

                    li.path__item

                        a(href="index.html").path__link Главная

                    li.path__item

                        a(href="press-center.html").path__link Раздел

                    li.path__item

                        a(href="press-center.html").path__link Подраздел

            block content

    include footer.pug