include ../mixins/mixins.pug

doctype html
html.html(lang="ru")

    head

        include head.pug

    body.body

        include header.pug

        main.main

            .main__wrapper

                a(href="#").main__back
                    i.material-icons-round.md-arrow_back_ios

                .path

                    ul.path__wrapper

                        li.path__item

                            a(href="index.html").path__link Главная

                        li.path__item

                            a(href="press-center.html").path__link Раздел

                        li.path__item

                            a(href="press-center.html").path__link Подраздел

                block content

        include footer.pug

        noscript У вас отключен JavaScript, пожалуйста, включите его для корректной работы сайта.

        block scripts
            include scripts.pug
