extends layout.pug

block layoutPage

    include header.pug

    main.main

        .main__wrapper

            .page

                a(href="#").main__back.main__back_left
                    i.material-icons-round.md-arrow_back_ios.main__back-icon

            block content

    include footer.pug