@use '../utils/vars' as global;
@use '../utils/animations' as animations;

.button {
    display: flex;

    cursor: pointer;
}

.counter {
    position: relative;

    display: flex;

    box-sizing: border-box;
    border-bottom: 1px solid global.$color-gray;

    transition: 0.3s ease border-bottom-color, color;

    cursor: pointer;

    &:hover,
    &:focus-within {
        border-bottom-color: global.$color-acent;
        
        .counter__input {
            color: global.$color-acent;
        }

        .counter__arrow{
            color: global.$color-acent;
        }
    }

    &__input {
        max-width: 100px;

        border: 0;

        font-size: 16px;

        transition: 0.1s ease color;
    }

    &__options {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;

        width: 100%;

        box-sizing: border-box;
        box-shadow: global.$shadow;
        background-color: #fff;
        padding: 0;
        margin: 0;

        opacity: 0;
        z-index: -1;

        transition: .15s ease;

        &_active {
            opacity: 1;
            z-index: 1;
        }
    }

    &__options-item {
        box-sizing: border-box;
        padding: 7px 20px;

        list-style-type: none;

        cursor: pointer;
    }

    &__options-number {

    }

    &__arrow {
        transition: 0.1s ease color;
    }
}

// use BAM modifier
