@use '../utils/vars' as global;

.product,
.news {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: global.$width-container;
}

.product-swiper,
.news-swiper {
  width: 100%;

  overflow: hidden;

  box-sizing: border-box;
  padding: 10px 12px 60px 12px;

  @media screen and (max-width: 555.9px) {
    padding: 0;
  }

  &__overlay {
    @media screen and (max-width: 555.9px) {
      margin-bottom: -10px;
    }
  }

  &__wrapper {
    display: flex;

    @media screen and (max-width: 555.9px) {
      box-sizing: border-box;
      padding: 20px 0px 26px 15px;

      overflow: auto;

      -webkit-overflow-scrolling: touch;
    }
  }

  &__slide {
    flex-shrink: 0;

    @media screen and (max-width: 555.9px) {
      &:last-child {
        .card-product,
        .card-article {
          margin-right: 15px;
        }
      }
    }

    

    @media screen and (max-width: 555.9px) {
      margin-right: 20px;

      max-width: 73vw;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__prev,
  &__next {
    display: flex !important;
    position: absolute !important;
    top: 45%;

    box-sizing: border-box;
    box-shadow: global.$shadow;
    border-radius: 50%;
    background-color: global.$color-acent;
    padding: 12px;

    z-index: 2;
    cursor: pointer;

    color: #fff;

    @media screen and (max-width: 1196px) {
      display: none !important;
    }
  }

  &__prev {
    left: -14px;
  }

  &__next {
    right: -14px;
  }

  &__nav_disabled {
    background-color: #ccc !important;
  }

  &__pagination {
    position: absolute;

    display: block;
    white-space: nowrap;
    text-align: center;

    bottom: 5px;
    left: 0;
    right: 0;

    overflow: hidden;

    width: 100%;
    height: 16px;

    margin: 0 auto;

    z-index: 2;
  }

  &__bullet {
    position: relative;

    display: inline-block;

    width: 16px;
    height: 100%;

    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 4px;
    background-color: global.$color-acent;
    opacity: 0.5;

    z-index: 3;
    transition: 0.3s ease opacity, 0.3s ease transform;
    cursor: pointer;

    transform: scale(.4);
  
      &_active {
        transform: scale(1);
        opacity: 1;
      }

      &_active-prev, &_active-next {
        transform: scale(.7);
      }

    &:last-child {
      margin: 0;
    }
  }
}

.card-product {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  border-radius: 4px;
  box-shadow: global.$shadow;
  background-color: #fff;

  transition: 0.3s ease box-shadow;

  margin: 0;

  &__favorite {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;

    padding: 10px;

    cursor: pointer;

    &-wrapper {
      display: flex !important;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;

      //box-shadow: global.$shadow;
      border-radius: 50%;
      background-color: #fff;

      transition: 0.3s ease;
    }

    .md-favorite {
      font-weight: 700;

      transition: 0.3s ease color;

      &:before {
        opacity: 1;

        color: #fff;

        transition: 0.3s ease color;
      }
    }

    &:hover {
      color: global.$color-acent;
    }

    &_active {
      .md-favorite {
        color: global.$color-acent;

        &:before {
          opacity: 1;

          color: global.$color-acent;
        }
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: global.$shadow-hover;
    }
  }

  &_small {
    @media screen and (max-width: 556px) {
      flex-direction: row;

      box-sizing: border-box;
      border-radius: 4px;
      padding: 10px;

      .card-product {
        &__content {
          flex-grow: 1;

          padding: 0;
        }

        &__overlay {
          max-width: 40%;
        }
        &__image {
          object-fit: contain;
        }

        &__favorite {
          @media screen and (max-width: 556px) {
            top: 15px;
            right: auto;
            left: 15px;
          }
        }

        &__content {
          justify-content: space-between;

          margin-left: 15px;
        }

        &__title {
          font-size: 13px;
        }

        &__price {
          flex-grow: 1;

          margin-right: 15px;

          text-align: center;

          @media screen and (max-width: 340px) {
            margin-right: 5px;

            text-align: left;
          }
        }

        &__btn-cart {
          padding: 8px 16px;
          font-size: 11px;
        }
      }
    }
  }

  &__overlay {
    display: block;

    border-radius: 4px 4px 0 0;
  }

  &__image {
    display: flex;

    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    box-sizing: border-box;
    padding: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    padding: 0 0 8px 0;
  }

  &__title {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: global.$color-text;
  }

  &__tags {
    display: flex;
    margin-top: 20px;

    // display: grid;
    // grid-template-columns: repeat(3, auto);
    // justify-items: start;
    // gap: 10px;

    //adaptive grid tags (unlimited tags)
  }

  &__tag {
    box-sizing: border-box;
    //box-shadow: global.$shadow;
    border-radius: 2px;
    margin-right: 10px;
    padding: 3px 7px;
    background-color: #cfd8dc;

    font-size: 12px;
    font-weight: 400;
    color: #fff;

    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 330px) {
      padding: 3px;
    }

    // &:nth-child(3n + 1) {
    //   justify-self: start;
    // }

    // &:nth-child(3n + 2) {
    //   justify-self: center;
    // }

    // &:nth-child(3n) {
    //   justify-self: end;
    // }

    //adaptive grid tags (unlimited tags)

    &_hit {
      background-color: #7cb342;
    }

    &_new {
      background-color: #ff9800;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding-top: 15px;
  }

  &__price {
    font-weight: 700;
  }

  &__btn-cart {
    box-sizing: border-box;
    box-shadow: global.$shadow;
    border: 0;
    border-radius: 50px;
    padding: 7px 18px;
    background-color: global.$color-red;

    text-transform: uppercase;
    font-weight: 700;
    color: #fff;

    transition: 0.3s ease box-shadow;

    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        box-shadow: global.$shadow_hover;
      }
    }
  }
}

.card-article {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100%;

  overflow: hidden;
  margin: 0;

  border-radius: 4px;
  box-shadow: global.$shadow;
  background-color: #fff;

  cursor: pointer;

  transition: 0.3s ease box-shadow;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: global.$shadow-hover;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 20px;

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      margin-bottom: 10px;
    }
  }

  &__overlay {
    display: block;

    border-radius: 4px 4px 0 0;
  }

  &__title {
    margin: 0 10px 0 0;

    font-size: 22px;
    font-weight: 400;
  }

  &__link {
    font-weight: 400;

    color: global.$color-acent;
  }

  &__reveal {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    z-index: 6;
    transition: 0.3s ease;

    transform: translateY(100%);

    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;

    &_active {
      transform: translateY(0%);
    }

    &-content {
      font-size: 16px;
      line-height: 1.5;

      text-overflow: ellipsis;
    }
  }
}
