@use 'sass:color';
@use '../utils/_vars.scss' as global;

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin: 0;
    padding: 0;

    &__item {
        list-style-type: none;
    }

    &__link {
        height: 100%;
        box-sizing: border-box;
        //padding: 8px;

        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;

        color: global.$color-text;
    
        transition: .3s color;

        &:hover {
            color: global.$color-acent;
        }
    }
}