ymaps {
    [style="margin-right: 10px; margin-left: 0px; position: inherit;"], [style="margin-right: 0px; margin-left: 10px; position: inherit;"], [style="margin-right: 0px; margin-left: 0px; position: inherit; bottom: 30px; top: auto; right: 10px; left: auto;"] {display: none;}

    // canvas {
    //     filter: grayscale(1);

	// -ms-filter: grayscale(1);

	// -webkit-filter: grayscale(1);

	// -moz-filter: grayscale(1);

	// -o-filter: grayscale(1);
    // }
}