extends ../layout/layoutPage_contacts.pug

block content

    article.contacts

        h1.title.title_h1.title_no-line Контакты

        .contacts__content

            .contacts__content-map
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae81fce5f488377d13b4cb0e66fd5f324b2c0af2ae044700ede959e27b9e6ffe7&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
                
            .contacts__content-menu

                .contacts__wrapper

                    .contacts__title Как заказать?

                    ul.contacts__menu

                        li.contacts__menu-item 
                            |по телефону
                            b  21-15-21

                        li.contacts__menu-item
                            |заказные торты по телефону 
                            b  48-15-48

                        li.contacts__menu-item
                            |по телефону 
                            b  8-964-300-00-40

                        li.contacts__menu-item
                            |в кафе - кондитерской

                        li.contacts__menu-item
                            |на нашем сайте в разделе Доставка

                .contacts__wrapper

                .contacts__title Адреса и режим работы

                ul.contacts__menu

                    li.contacts__menu-item 
                        |Попова, 32 - ежедневно с 08:00 до 20:00

                    li.contacts__menu-item
                        |Набережная, 52 - пн-чт с 8:00-20:00;
                        br
                        |пт 8:00-21:00; сб 9:00-21:00; вс с 9:00-20:00

                    li.contacts__menu-item
                        |Ленинградский пр-т, 38, ТРЦ "Макси" - ежедневно с 10:00 до 21:00
                        
    