extends ../layout/layoutPage_favorite.pug

block content

    article.favorite
        .catalog__wrapper

            .catalog__wrapper-main

                h1.title.title_h1.title_favorite Избранное

            .catalog__category

                .catalog__category-wrapper

                    - for (let x = 0; x < 2; x++)
    
                        figure.card-product

                            .card-product__favorite
                                .card-product__favorite-wrapper
                                    i.material-icons-twotone.md-favorite
                            
                            a(href="./product-page.html").card-product__overlay.waves-effect.waves-light
                                img.card-product__image(src="/images/product.png" width="100%")

                            .card-product__content

                                .card-product__wrapper

                                    a(href="./product-page.html").card-product__title «Черничное наслаждение» 880 гр

                                .card-product__footer

                                    .card-product__price 990₽

                                    button.card-product__btn-cart.waves-effect.waves-light В корзину

                        figure.card-product

                            .card-product__favorite
                                .card-product__favorite-wrapper
                                    i.material-icons-twotone.md-favorite
                            
                            a(href="./product-page.html").card-product__overlay.waves-effect.waves-light
                                img.card-product__image(src="/images/product.png" width="100%")

                            .card-product__content

                                .card-product__wrapper

                                    a(href="./product-page.html").card-product__title «Черничное наслаждение» 880 гр

                                    .card-product__tags

                                        .card-product__tag.card-product__tag_new Новинка

                                .card-product__footer

                                    .card-product__price 990₽

                                    button.card-product__btn-cart.waves-effect.waves-light В корзину

                        figure.card-product

                            .card-product__favorite.card-product__favorite_active
                                .card-product__favorite-wrapper
                                    i.material-icons-twotone.md-favorite
                            
                            a(href="./product-page.html").card-product__overlay.waves-effect.waves-light
                                img.card-product__image(src="/images/product.png" width="100%")

                            .card-product__content

                                .card-product__wrapper

                                    a(href="./product-page.html").card-product__title «Черничное наслаждение» 880 гр

                                    .card-product__tags

                                        .card-product__tag.card-product__tag_hit Хит продаж

                                .card-product__footer

                                    .card-product__price 990₽

                                    button.card-product__btn-cart.waves-effect.waves-light В корзину

                        figure.card-product

                            .card-product__favorite.card-product__favorite_active
                                .card-product__favorite-wrapper
                                    i.material-icons-twotone.md-favorite
                            
                            a(href="./product-page.html").card-product__overlay.waves-effect.waves-light
                                img.card-product__image(src="/images/product.png" width="100%")

                            .card-product__content

                                .card-product__wrapper

                                    a(href="./product-page.html").card-product__title «Черничное наслаждение» 880 гр

                                    .card-product__tags

                                        .card-product__tag.card-product__tag_new Новинка

                                        .card-product__tag.card-product__tag_hit Хит продаж

                                .card-product__footer

                                    .card-product__price 990₽

                                    button.card-product__btn-cart.waves-effect.waves-light В корзину

    