$font-default: 'Roboto', sans-serif;


$shadow-default: 3px 3px 3px 0 #b8b8b8;


$width-container: 1280px;

$color-acent: #c02344;

$color-brown: #533f34;

$color-black: #000;

$color-white: #fff;

$color-gray: #707070;

