@use '../utils/vars' as global;

.catalog {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: global.$width-container;

    box-sizing: border-box;
    padding: 40px 15px 0px 15px;

    @media screen and (max-width: 556px) {
        padding: 0;
    }

    &__content {
        display: flex;
    }

    &__wrapper {
        flex-direction: column;

        @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
                width: 100%;
            }

        &-main {
            @media screen and (max-width: 556px) {
                padding: 0 15px;
            }
        }
    }

    &__category {
        display: flex;
        flex-direction: column;

        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        &-title {
            position: sticky;
            top: 0;
            background-color:#fafafa;

            box-sizing: border-box;
            //@includebox-shadow: global.$shadow;
            padding: 10px 15px;

            z-index: 5;
            font: 700 16px global.$font-default;
            margin-bottom: 20px;

            

            //border-radius: 0 0 25px 25px;
        }

        &-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            @media screen and (max-width: 1056px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: 556px) {
                grid-template-columns: 1fr;

                box-sizing: border-box;
            }

            @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
    
                width: 100%;

                .card-product {
                    max-width: 300px;
                    width: 100%;
                    height: auto;

                    margin-bottom: 30px;
                }
            }
        }
    }

    &__buttons {
        display: none;
        justify-content: space-between;

        @media screen and (max-width: 876px) {
            display: flex;
        }

        @media screen and (max-width: 556px) {
            padding: 0 15px;
        }
    }

    &__button {
        position: relative;
        display: flex !important;
        align-items: center;

        max-width: 48%;
        width: 100%;

        box-sizing: border-box;
        box-shadow: global.$shadow;
        border: 0;
        border-radius: 50px;
        padding: 7px 28px;
        background-color: global.$color-red;

        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        color: #fff;

        cursor: pointer;

        transition: 0.3s ease;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                box-shadow: global.$shadow_hover;
            }
        }

        &:fist-child {
            padding: 10px 20px 10px 42px;
        }

        &:last-child {
            padding: 10px 42px 10px 20px;
        }

        &-title {
            width: 100%;
            text-align: center;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .material-icons-round {
            position: absolute;
        }

        .md-arrow_back {
            left: 10px;
        }

        .md-arrow_forward {
            right: 10px;
        }
    }
}

.catalog-filter {
    display: flex;
    flex-direction: column;

    max-width: 230px;
    width: 100%;

    margin-right: 35px;

    @media screen and (max-width: 876px) {
        display: none;
    }
}

.catalog-categories {
    max-height: 0;
    overflow-y: hidden;

    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;

    transition: 0.3s ease max-height;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 9px;
        left: 0px;

        width: 12px;
        height: 1.6px;

        border-radius: 12px;
        background-color: global.$color-text;

        pointer-events: none;
    }

    &:after {
        transform: rotateZ(90deg);

        transition: 0.3s ease;
    }

    &_active {
        max-height: none;
        
        &:after {
            transform: rotateZ(0);
        }
    }

    &_level-0 {
        position: relative;

        max-height: none;
        overflow: visible;

        margin-bottom: 40px;

        &:before,
        &:after {
            content: none;
        }
    }

    &__item {
        position: relative;

        box-sizing: border-box;
        margin: 15px 0;
        padding: 0 0 0 25px;
        list-style-type: none;

        cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }

        &_level-0 {
            margin-top: 0;
        }
    }

    &__link {
        font: 400 16px global.$font-default;
        color: global.$color-text;

        transition: 0.3s ease;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: global.$color-acent;
            }
        }

        &_level-0 {
            text-transform: uppercase;
        }
    }
}
