@use '../utils/vars.scss' as global;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;

        box-sizing: border-box;
        padding: 0 15px;

        overflow-x: hidden;

        @media screen and (max-width: 900px) {
            padding-top: 40px;
        }

        @media screen and (max-width: 556px) {
            padding: 0;
        }
    }
}

.home-swiper {
    position: relative;
    width: 100%;

    overflow: hidden;

    @media screen and (max-width: 900px) {
        display: none;
    }

    &__wrapper {
        display: flex;

        height: 485px;
    }

    &__slide {
        position: relative;

        display: flex;
        flex-shrink: 0;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background: rgba(0, 0, 0, 0.4);

            z-index: 2;
        }

        img {
            object-fit: cover;
        }
    }

    &__slide-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;

        box-sizing: border-box;
        margin: auto auto;
        padding: 70px;

        max-width: 800px;
        width: 100%;

        color: #fff;

        z-index: 3;
    }

    &__slide-title {
        margin-bottom: 10px;

        text-transform: uppercase;
        text-align: center;
        font: 400 45px global.$font-default;
    }

    &__slide-description {
        margin-bottom: 20px;

        font: 300 16px / 20px global.$font-default;
    }

    &__slide-btn {
        display: flex !important;
        justify-content: center;
        align-items: center;
        align-self: center;

        max-width: 110px;
        width: 100%;

        box-sizing: border-box;
        border: 2px solid global.$color-acent;
        border-radius: 50px;
        padding: 10px 25px;
        background-color: #fff;

        font: 700 14px global.$font-default;
        text-transform: uppercase;
        color: global.$color-acent;

        transition: 0.1s ease !important;
        transition-property: color, background-color;

        cursor: pointer;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: global.$color-acent;

                color: #fff;
            }
        }
    }

    &__prev,
    &__next {
        position: absolute;
        top: 50%;

        transform: translateY(-50%);

        padding: 20px;

        z-index: 2;
        cursor: pointer;

        color: #fff;

        i {
            font-size: 32px;
        }
    }

    &__prev {
        left: 10px;
    }

    &__next {
        right: 10px;
    }

    &__pagination {
        position: absolute;

        display: block;
        white-space: nowrap;
        text-align: center;

        bottom: 40px;
        left: 0;
        right: 0;

        overflow: hidden;

        width: 100%;
        height: 16px;

        margin: 0 auto;

        z-index: 2;
    }

    &__bullet {
        position: relative;

        display: inline-block;

        width: 16px;
        height: 100%;

        box-sizing: border-box;
        box-shadow: global.$shadow;
        border: 3px solid global.$color-acent;
        border-radius: 50%;
        margin-right: 4px;
        background-color: #fff;

        z-index: 3;
        //transition: 0.3s ease transform;
        cursor: pointer;

        transform: scale(0.4);

        &_active {
            transition: 0.3s ease transform;
            transform: scale(1);
            opacity: 1;
        }

        &_active-prev,
        &_active-next {
            transition: 0.3s ease transform;
            transform: scale(0.7);
        }

        &:last-child {
            margin: 0;
        }
    }
}

.home-main {
    display: flex;
    flex-direction: column;

    max-width: global.$width-container;

    margin-bottom: 20px;

    @media screen and (max-width: 626px) {
        box-sizing: border-box;
        padding: 0 15px;
    }
}

.home-stoks {
    display: flex;
    //flex-direction: column;

    max-width: global.$width-container;
    width: 100%;

    @media screen and (max-width: 626px) {
        box-sizing: border-box;
        padding: 0 15px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 956px) {
            // display: grid;
            //grid-template-columns: repeat(2, auto);
            //justify-items: center;
            //gap: 20px;
        }

        @media screen and (max-width: 556px) {
            //grid-template-columns: 1fr;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;

        margin-right: 30px;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                .home-stoks__card-image {
                    transform: scale(1.1);
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }

        @media screen and (max-width: 956px) {
            //max-width: 280px;

            margin-right: 0;

            &:last-child {
                grid-area: 2 / 1 / 3 / 3;
            }
        }

        @media screen and (max-width: 556px) {
            &:last-child {
                grid-area: auto;
            }
        }

        &-overlay {
            position: relative;

            z-index: 1;

            display: flex;

            border-radius: 4px;
            background: url("/images/stock.png") no-repeat center / cover;
            overflow: hidden;

            box-shadow: global.$shadow;

            transition: 0.3s ease box-shadow;
        }

        &-image {
            width: 100%;
            height: 100%;

            transition: 0.3s ease transform;
        }

        &-title {
            box-sizing: border-box;
            box-shadow: global.$shadow;
            border-radius: 0 0 4px 4px;
            margin: 0 4%;
            padding: 20px 6px;
            background-color: #fff;

            text-align: center;
            font-size: 24px;
            font-weight: 700;
            color: global.$color-text;

            transition: 0.3s ease box-shadow;

            @media screen and (max-width: 626px) {
                padding: 15px 6px;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}
