@use '../utils/vars' as global;

.news {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @media screen and (max-width: 1056px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 556px) {
            grid-template-columns: 1fr;

            box-sizing: border-box;
            padding: 0 15px;
        }
    }
}
