@use '../utils/_vars.scss' as global;

.product-page {
    display: flex;
    flex-direction: column;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        @media screen and (max-width: 996px) {
            flex-direction: column;
        }

        @media screen and (max-width: 556px) {
            box-sizing: border-box;
            box-shadow: global.$shadow;
            padding-bottom: 20px;
            background-color: #fff;
        }
    }
}

.product-page-gallery {
    flex-grow: 1;

    max-width: 500px;
    width: 100%;

    margin-right: 80px;

    @media screen and (max-width: 996px) {
        max-width: 100%;

        margin: 0 0 15px 0;
    }

    @media screen and (max-width: 606px) {
        box-sizing: border-box;
        padding: 0;
    }

    &__container {
        position: relative;

        width: 100%;
        //min-height: 326px;

        overflow: hidden;
    }

    &__wrapper {
        display: flex;

        height: 100%;
    }

    &__slide {
        flex-shrink: 0;
        flex-grow: 1;

        width: 100%;
        height: 100%;

        background: url("/images/product.png") no-repeat center / contain;
    }

    &__image {
        display: flex;

        width: 100%;
    }

    &__slides {
    }

    &__thumbs {
        width: 100%;
        height: 200px;

        .product-page-gallery__slide {
            flex-grow: 1;
            flex-shrink: 0;

            box-sizing: border-box;
            border: solid 1px #cdcdcd;

            cursor: pointer;

            &_active {
                border-color: global.$color-acent;
            }
        }
    }

    &__prev,
    &__next {
        position: absolute;
        top: 0;
        bottom: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 39px;
        height: 39px;

        box-sizing: border-box;
        box-shadow: global.$shadow;
        border-radius: 50%;
        margin: auto 0;
        background-color: #fff;

        transition: 0.1s;
        opacity: 0.6;
        cursor: pointer;

        &:before {
            content: "";

            display: inline-block;

            border: solid #696969;
            border-width: 0 3px 3px 0;
            margin-left: 5px;
            padding: 5px;

            transform: rotate(135deg);
            transition: 0.1s;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: global.$color-acent;

                &:before {
                    border-color: #fff;
                }
            }
        }

        @media screen and (max-width: 606px) {
            display: none;
        }
    }

    &__prev {
        left: 5px;
    }

    &__next {
        right: 5px;

        transform: rotateY(180deg);
    }

    &__nav_disabled {
        background-color: #ccc !important;
    }

    &__pagination {
        position: absolute;

        display: block;
        white-space: nowrap;
        text-align: center;

        bottom: 20px;
        left: 0;
        right: 0;

        overflow: hidden;

        width: 100%;
        height: 16px;

        margin: 0 auto;

        z-index: 2;
    }

    &__bullet {
        position: relative;

        display: inline-block;

        width: 16px;
        height: 100%;

        box-sizing: border-box;
        box-shadow: global.$shadow;
        border: 3px solid global.$color-acent;
        border-radius: 50%;
        margin-right: 4px;
        background-color: #fff;

        z-index: 3;
        //transition: 0.3s ease transform;
        cursor: pointer;

        transform: scale(0.4);

        &_active {
            transition: 0.3s ease transform;
            transform: scale(1);
            opacity: 1;
        }

        &_active-prev,
        &_active-next {
            transition: 0.3s ease transform;
            transform: scale(0.7);
        }

        &:last-child {
            margin: 0;
        }
    }

    &__thumb {
        display: none;
    }

    &__favorite {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 2;

        padding: 10px;

        cursor: pointer;

        &-wrapper {
            display: flex !important;
            justify-content: center;
            align-items: center;

            width: 47px;
            height: 47px;

            //box-shadow: global.$shadow;
            border-radius: 50%;
            background-color: #fff;

            transition: 0.3s ease;

            color: global.$color-text;
        }

        .md-favorite {
            font-weight: 700;

            transition: 0.3s ease color;

            &:before {
                opacity: 1;

                color: #fff;

                transition: 0.3s ease color;
            }
        }

        &:hover {
            .md-favorite {
                color: global.$color-acent;
            }
        }

        &_active {
            .md-favorite {
                color: global.$color-acent;

                &:before {
                    opacity: 1;

                    color: global.$color-acent;
                }
            }
        }
    }
}

.product-page-item {
    flex-grow: 1;

    @media screen and (max-width: 626px) {
        box-sizing: border-box;
        padding: 0 15px 0 15px;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        width: 100%;
    }

    &__title {
        margin: 0 0 20px 0;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__wrap {
        display: flex;

        @media screen and (max-width: 476px) {
            order: 1;
        }

        margin: 0 0 30px 0;

        &:last-child {
            margin-bottom: 0;
        }

        &_column {
            flex-direction: column;
        }
    }

    &__price {
        display: flex;

        font: 700 24px global.$font-default;
        color: global.$color-acent;

        margin-right: 20px;

        &-value {
            margin-right: 10px;
        }
    }

    &__text {
        color: global.$color-text;

        @media screen and (max-width: 476px) {
            order: 4;
            margin-bottom: 0;
        }
    }

    &__buttons {
        @media screen and (max-width: 556px) {
            flex-direction: column;
            align-items: center;
        }

        @media screen and (max-width: 476px) {
            margin-bottom: 30px !important;
        }
    }

    &__btn-cart {
        display: flex !important;
        align-items: center;

        max-width: 250px;

        box-sizing: border-box;
        box-shadow: global.$shadow;
        border: 0;
        border-radius: 50px;
        margin-right: 20px;
        padding: 10px 25px;
        background-color: global.$color-acent;

        font: 700 14px global.$font-default;
        text-transform: uppercase;
        color: #fff;

        cursor: pointer;

        transition: 0.3s ease box-shadow;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                box-shadow: global.$shadow_hover;
            }
        }

        @media screen and (max-width: 556px) {
            margin: 0 0 20px 0;
        }
    }

    &__btn-one-click {
        display: flex !important;
        align-items: center;

        max-width: 250px;

        box-sizing: border-box;
        box-shadow: global.$shadow;
        border: 2px solid global.$color-acent;
        border-radius: 50px;
        padding: 10px 25px;
        background-color: #fff;

        font: 700 14px global.$font-default;
        text-transform: uppercase;
        color: global.$color-acent;

        transition: 0.3s ease box-shadow;

        cursor: pointer;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                box-shadow: global.$shadow_hover;
            }
        }
    }

    &__icon {
        margin-left: 15px;
    }
}

.product-page-props {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 476px) {
        order: 2;
    }

    padding: 0;

    &__prop {
        display: flex;

        list-style-type: none;

        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        &-title {
            max-width: 200px;
            width: 100%;

            margin-right: 21px;

            font: 16px global.$font-default;
            color: #616161;
        }

        &-value {
            font: 700 16px global.$font-default;
            color: #424242;
        }
    }
}
