@use '../utils/_vars.scss' as global;

.footer {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;

    box-sizing: border-box;
    padding: 30px 0;
    background-color: #f7f6f6;

    &__top {
        display: flex;
        justify-content: center;

        width: 100%;

        padding-bottom: 20px;

        &-wrapper {
            display: flex;
            justify-content: space-between;

            width: 100%;
            max-width: global.$width-container;
        }
    }

    &__head {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-right: 200px;
    }

    &__logo {
        width: 120px;

        margin-bottom: 24px;
    }

    &__phone-number {
        margin-bottom: 15px;

        font-size: 24px;
        font-weight: bold;
        color: global.$color-text;

        transition: .3s ease;

        &:hover {
            color: global.$color-acent;
        }
    }

    &__email {
        font-size: 18px;
        font-weight: 300;
        color: global.$color-text;

        transition: .3s ease;

        &:hover {
            color: global.$color-acent;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }

    &__row {
        display: flex;
        justify-content: center;

        width: 100%;

        box-sizing: border-box;
        padding: 20px 0;

        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            max-width: global.$width-container;
        }
    }

    &__social {
        display: flex;

        &-link {
            display: flex !important;
            justify-content: center;
            align-items: center;

            width: 47px;
            height: 47px;

            margin-right: 15px;
            box-shadow: global.$shadow;
            border-radius: 50%;

            &:hover {
                .fa {
                    color: global.$color-acent;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            .fa {
                font-size: 24px;
                color: global.$color-text;

                transition: 0.3s ease color;
            }
        }
    }

    &__acquiring {
        display: flex;
        padding: 0;
        margin: 0;

        &-item {
            list-style: none;

            &:last-child {
                .footer__acquiring-icon {
                    margin-right: 0;
                }
            }
        }

        &-icon {
            margin-right: 20px;

            font-size: 32px !important;
            color: global.$color-gray;
        }
    }

    &__bottom {
        display: flex;
        justify-content: center;

        width: 100%;

        box-sizing: border-box;
        padding: 20px 0 0 0;

        &-wrapper {
            display: flex;
            justify-content: space-between;

            width: 100%;
            max-width: global.$width-container;
        }
    }

    &__copyrite,
    &__privacy {
        font-weight: 300;
        color: global.$color-text;
    }

    &__privacy {

        &:hover {
            color: global.$color-acent;
        }
       
        transition: .3s ease color;
    }
}

.footer-menu {
    display: flex;
    flex-direction: column;

    margin: 0 20px 0 0;
    padding: 0;

    &:last-child {
        margin: 0;
    }

    &__item {
        display: flex;
        flex-direction: column;

        list-style: none;

        &_level-1 {
            margin-bottom: 10px;
        }
    }

    &__link {
        color: global.$color-text;

        transition: 0.3s ease;

        &:hover {
            color: global.$color-acent;
        }

        &_level-0 {
            margin-bottom: 24px;

            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
        }

        &_level-1 {
            font-weight: 300;
        }
    }
}
