@use '../utils/_vars.scss' as global;

.header {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 20px 0 0;

    z-index: 5;

    &__top {
        display: flex;

        width: 100%;
        max-width: global.$width-container;

        box-sizing: border-box;
        padding: 0 15px;
        margin-bottom: 15px;
    }

    &__logo {
        max-width: 105px;

        margin-right: 120px;
    }
}

.header-toolbar {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: global.$width-container;

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 10px 0;
    }

    &__phone-number {
        font-size: 18px;
        font-weight: 700;
        color: global.$color-text;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__person,
    &__favorite,
    &__cart {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-right: 30px;

        color: global.$color-text;

        transition: 0.3s ease color;
        cursor: pointer;

        &:hover {
            color: global.$color-acent;
        }

        &:last-child {
            margin-right: 0;
        }

        &-icon {
            margin-bottom: 4px;

            font-size: 30px;
        }

        &-text {
            font-size: 13px;
            font-weight: 700;
        }
    }
}

.header-search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    border: 2px solid global.$color-brown;
    border-radius: 4px;

    &:hover {
        .header-search__search-icon {
            color: global.$color-acent;
        }
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;

        box-sizing: border-box;
        padding: 8px 16px;
        background-color: global.$color-brown;

        transition: 0.3s ease color;
        cursor: pointer;
    }

    &__search-icon {
        font-size: 30px;
        color: #fff;
    }

    &__input {
        flex-grow: 1;

        box-sizing: border-box;
        border: none;
        padding: 10px 20px;
        background-color: transparent;

        font-size: 16px;
        font-weight: 300;
        color: global.$color-text;
    }

    &__close {
        color: transparent;
    }
}

.header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: global.$width-container;

    box-sizing: border-box;
    padding: 0 15px;
    margin-bottom: 15px;

    overflow: hidden;

    @media screen and (max-width: 900px) {
        padding: 0 0 0 9px;
    }
}

.header-category {
    display: flex;

    width: 100%;

    margin: 0;
    padding: 0;

    &__overlay {
        width: 100%;

        margin-bottom: -10px;
    }

    &__wrapper {
        display: flex;

        width: 100%;

        box-sizing: border-box;
        padding: 20px 6px 20px 6px;

        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    &__card {
        flex-shrink: 0;

        width: 100%;
        max-width: 25vw;

        box-shadow: global.$shadow;

        border-radius: 4px;
        margin-right: 20px;

        list-style: none;

        @media screen and (max-width: 900px) {
            max-width: 35vw;
        }

        @media screen and (max-width: 375px) {
            max-width: 45vw;
        }
    }

    &__link {
    }

    &__title {
        box-sizing: border-box;
        margin-bottom: 7px;
        padding: 10px 10px 0 10px;

        font-weight: 300;
        color: global.$color-text;
    }

    &__image {
        width: 100%;
        height: 80px;

        border-radius: 0 0 4px 4px;
        background: url("/images/categories/candy.jpg") no-repeat center / cover;
    }
}
